@font-face {
    font-family: 'Libre Baskerville';
    src: url('\\Users\\kelly\\Downloads\\Libre_Baskerville\\LibreBaskerville-Regular.tff') format('truetype');
  }
  
  body {
    font-family: 'Libre Baskerville', Arial, sans-serif;
  }
  
  /* Add more CSS rules for styling the calendar widget */
  